.error-banner {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 5px 10px 5px 13px;
  background: var(--color-danger-background);
  border: 1px solid var(--color-danger-border);
  border-radius: 5px;
  color: var(--color-danger-text);
  font-size: 11px;
}
