.error-banner {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 5px 10px 5px 13px;
  background: #fff1ed;
  border: 1px solid #f1cdc4;
  border-radius: 5px;
  color: #9d4334;
  font-size: 11px;
}
